@using System.Data
@model DataTable

@{
    ViewBag.Title = "Panier";
}

<h2>Panier</h2>

<div style="text-align: right;">
    @Html.ActionLink("Commander le panier", "CommanderPanier", "Panier", null, new { @class = "btn btn-primary" })
</div>

<div class="table-responsive">
    <table class="table display" id="panier">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libellé</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["Id"]</td>
                <td>@row["Libelle"]</td>
                <td>@row["Prix"]</td>
                <td>@row["Quantité"]</td>
                <td class="rowTotal">@row["Total"]</td>
                <td><a class="btn btn-primary btn-xs" href="/Panier/AddToPanier?articleId=@row["Id"]" onclick="plus()"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-danger btn-xs" href="/Panier/RemoveFromPanier?articleId=@row["Id"]" onclick="moins()"><span class="glyphicon glyphicon-minus"></span></a></td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right;">Total :</td>
            <td id="total"></td>
        </tr>
        </tfoot>
    </table>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function() {
            $('#panier').dataTable({
                "bFilter": false,
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [5],
                        "sortable": false,
                        "searchable": false
                    }
                ]
            });
            var total = 0;
            $('.rowTotal')
                .each(function() {
                    total += parseFloat($(this).html());
                });
            $('#total').html(total);
        });


    </script>
}