@using WebShop.Domain
@using WebShop.Web.Helpers

@model WebShop.Web.Models.ArticleViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail de l'article @Model.Article.ART_Libelle</h2>
<h3>Catégorie : @Model.Category > @Model.Article.SousCategorie.SCAT_Libelle</h3>


<div>Article</div>   
<div>@Model.Article.ART_Libelle</div>
<div>Description</div>
<div>@Model.Article.ART_Description</div>
<div>prix</div>
<div>@Model.Article.ART_Prix</div>
<div>Stock</div>
<div>@Model.Article.ART_Stock</div>
            
<div class="btn btn-primary">Ajouter au panier</div>